@model IEnumerable<Tennishallen.Models.InvoiceViewModel>

@{
    ViewData["Title"] = "Invoices";
}

<div>
    <div class="d-flex flex-row justify-content-between">
        <h1 class="display-4">Invoices</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Invoice Name</th>
                <th scope="col">View Invoice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model)
            {
                <tr>
                    <td scope="row">
                        @invoice.FullName's Invoice - @invoice.Month/@invoice.Year
                    </td>
                    <td>
                        <div class="d-flex flex-row">
                            <a asp-action="ViewInvoice" asp-route-userId="@invoice.UserId" asp-route-year="@invoice.Year" asp-route-month="@invoice.Month">
                                <button type="button" class="btn btn-primary">
                                    View Invoice
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>