@using Tennishallen.Data.Models
@model Reservation
@{
	ViewData["Title"] = "Dashboard";
}

<div>
	<div class="d-flex flex-row justify-content-between">
		<h1 class="display-4">Afspraak Toevoegen</h1>
		<div class="d-flex align-items-center">
			<a asp-action="Index">
				<button type="button" class="btn btn-info">
					<i class="bi bi-houses"></i>
					Alle Kamers
				</button>
			</a>
		</div>
	</div>
	<form method="post">
		<div class="form-group">
			<label>Behandelingen:</label>
			@*      @foreach(Treatment t in ViewBag.Treatments)
			{
			<input
			type="checkbox"
			class="btn-check"
			id="treatment-@t.Id"
			name="treatment-@t.Id"
			value="@Model.Treatments.Any(mt => mt.Id == t.Id)"
			autocomplete="off"
			>
			<label class="btn btn-outline-primary" for="treatment-@t.Id">@t.Name</label>
			} *@
		</div>

		<div class="form-group">
			<label>Tandarts:</label>
			<select asp-for="CoachId" class="form-control">
				<option>-- Selecteer Coach --</option>
				@foreach (User coach in ViewBag.Coach)
				{
					<option value="@coach.Id">@coach.Fullname</option>
				}
			</select>
			<span asp-validation-for="CoachId" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label for="Room">Veld:</label>
			<select asp-for="CourtId" class="form-control">
				<option value="">-- Selecteer Kamer --</option>
				@foreach (Court court in ViewBag.Courts)
				{
					<option value="@court.Id">@court.Name</option>
				}
			</select>
			<span asp-validation-for="CourtId" class="text-danger"></span>
		</div>

		@* <div class="form-group">
			<label for="DateTime">Appointment Date and Time:</label>
			<input asp-for="DateTime" class="form-control" type="datetime-local">
			<span asp-validation-for="DateTime" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label for="Note">Note:</label>
			<textarea asp-for="Note" class="form-control"></textarea>
			<span asp-validation-for="Note" class="text-danger"></span>
		</div> *@

		<button type="submit" class="btn btn-primary">Maak Afspraak</button>
	</form>
</div>