@model Tennishallen.Data.Models.Reservation;
@{
    ViewData["Title"] = "Afspraaknummer: " + Model.Id;
}
<div>
    <div class="d-flex flex-row justify-content-between">
        <h1 class="display-4">Afspraaknummer: @Model.Id</h1>
        <div class="d-flex align-items-center">
            <a asp-action="Index">
                <button type="button" class="btn btn-info">
                    <i class="bi bi-houses"></i>
                    Alle Afspraken
                </button>
            </a>
            &ensp;
            <a asp-action="Edit" asp-route-appointmentId="@Model.Id">
                <button type="button" class="btn btn-warning">
                    <i class="bi bi-pen"></i>
                    Afspraak bewerken
                </button>
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Docent</th>
            <th scope="col">Member</th>
            <th scope="col">Veld</th>
            <th scope="col">Kosten</th>
            <th scope="col">Datum en tijd</th>
            <th scope="col">Bewerk</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <th scope="row">
                <a asp-action="View" asp-route-id="@Model.Id">
                    @Model.Id
                </a>
            </th>

            @if (Model.CoachId.HasValue)
            {
                <td>
                    @Model.Coach.Fullname
                </td>
            }
            else
            {
                <td>
                    Geen docent
                </td>
            }
            <td>
                @Model.Member.Fullname
            </td>
            <td>
                @Model.Court.Name
            </td>
            <td>
                @Model.Price
            </td>
            <td>
                @Model.Date
                @($"{Model.Hour:00}:00")
            </td>
            <td>
                <div class="d-flex flex-row float-end">
                    <a asp-action="Edit" asp-route-appointmentId="@Model.Id">
                        <button type="button" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i>
                            Bewerk
                        </button>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>